
    body {
      margin: 0;
      font-family: Arial;
      background: #0f172a;
      color: white;
    }

    /* HEADER */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      background: #111827;
    }

    .logo {
      font-size: 22px;
      font-weight: bold;
      color: #22c55e;
    }
    
    .signin {
      background: #22c55e;
      padding: 8px 15px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .signin:hover{
        background: #22c55e87;
        color: black;
    }
